<ActionBar title="My Favorites" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <GridLayout class="m-5" rows="auto auto auto" *ngIf="favorites">
        </GridLayout>    
        <ActivityIndicator busy="true" *ngIf="!(favorites || errMess)" width="50"
            height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>

    </StackLayout>
</RadSideDrawer>