<ActionBar title="About Us" class="action-bar"></ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
        <GridLayout tkMainContent class="m-5" rows="auto auto auto">
        <GridLayout> 
            <StackLayout row="0" class="m-t-5 p-10 border"> 
                <Label class="h3" text="Our History"></Label>
                <GridLayout rows="auto,auto" columns="*">
                    <Label class="body" row="0" col="0" textWrap="true" text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."></Label>
                    <Label class="body" row="1" col="0" textWrap="true" text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."></Label>
                </GridLayout>
            </StackLayout>
        </GridLayout>
            <ScrollView row="1" orientation="vertical" >
                <Label row="1" height="40" class="p-10 m-t-10 h3" text="Corporate Leadership"></Label>
                <ListView row="2" height="500" [items]="leaders" class="list-group p-10">
                    <ng-template let-leader="item">
                        <StackLayout orientation="horizontal" class="list-group-item">
                            <Image class="img-circle" row="0" col="0" height="50" width="50" [src]="BaseURL + leader.image"></Image>                    
                            <GridLayout class="list-group-item" rows="auto auto *" columns="*">
                                <Label row="0" col="0" [text]="leader.name" class="list-group-item-heading"></Label>
                                <Label row="1" col="0" [text]="leader.designation" class="list-group-item-text"></Label>
                                <Label row="2" col="0" class="list-group-item-text" [text]="leader.description" textWrap="true"></Label>   
                            </GridLayout>        
                        </StackLayout>
                    </ng-template>
                </ListView>        
            </ScrollView>
        </GridLayout>
</RadSideDrawer>